@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'colors.style.css';

body{
    color: var(--bs-gray);
    background-color: var(--bs-gray-200);
}

header{
    height: 10%;
}

.body-app{
    height: 85%;
}

footer{
    height: 5%;
}

@media (max-width: 1200px) {
    header{
        height: 25%;
    }
    
    .body-app{
        height: 67%;
    }
    
    footer{
        height: 8%;
    }
}

h1{
    text-align: center;
    margin: 0;
}

.overflow-hidden{
    overflow: hidden;
}