.full-w{
    width: 100vw;
    margin: 0;
    padding: 0;
}

.full-h{
    height: 100vh;
    margin: 0;
    padding: 0;
}

.page{
    width: 100%;
    height: 100vh;
}

.h-0{
    height: 0%;
}

.h-30{
    height: 30%;
}

.h-70{
    height: 70%;
}

.card-image{
    height: 12rem;
    width: 14rem;
}

@media (max-width: 1200px) {
    .card-image{
        width: 5rem;
        height: 6rem;
    }
}